.newStudentForm {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  padding: 5%;
  padding-left: 20%;
  padding-right: 20%;
}
.newStudentInput {
  margin-bottom: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 10px;
  border: 1px solid gray;
  cursor: pointer;
}
.newStudentBottom {
  margin-bottom: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  border-radius: 10px;
  border: 1px solid gray;
  cursor: pointer;
  color: white;
  background-color: gray;
}
